.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 2rem;
    color: #6900ff;
}
.pruple{
    color: #6900ff;
}
h2{
    font-size: 12px;
    text-align: center;
    color: rgb(228, 211, 211);
}

